.navbar {
  padding: 25px;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Balsamiq Sans', cursive;
  color: black;
  background-image: url(./images/legobackground.jpg);
}

.navbar-brand {  
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

