.navbar {
  padding: 25px;
  font-family: 'Yaldevi', sans-serif;
  font-size: 20px;
  color: black;
    background-image: url(./images/legobackground.jpg);
}

img.footerImage {
  z-index: -3;
  position: fixed;
  bottom: -8%;
  width: 100%;
  height: 100%;
}