.navbar {
  padding: 25px;
  font-family: 'Yaldevi', sans-serif;
}

.form-control {
  font-family: 'Tomorrow', sans-serif;
}

.rate h4 span {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.currencyConverter {
  align-content: center;
}

label {
  font-family: 'Gilda Display', serif;
}

.exchangeRates {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 30px;
}
