a {
  color: black;
  text-decoration: none;
}
.legoPeople {
  position: fixed;
  z-index: -2;
  bottom: 23%;
}

img.lego1 {
  z-index: -2;
  right: 48%;
  width: 50%;
}

img.lego2 {
  z-index: -2;
  width: 22%;
}

label {
  font-family: 'Gilda Display', serif;
  font-size: 26px;
}

.text {
  font-size: 25px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
