img.lego4 {
  z-index: -2;
  position: fixed;
  height: 50%;
  top: 10%;
  left: 35%;
  width: auto;
}

label {
  font-family: 'Gilda Display', serif;
  font-size: 26px;
}

@media (max-width: 991px) {
  
  img.lego4 {
    height: 34%;
    top: 30%;
    left: 5%;
  }
}

@media (max-width: 767px) {
  label {
    font-size: 10px;
  }

  img.lego4 {
    height: 24%;
    top: 30%;
    left: 10%;
  }
}  



