img.lego4 {
  z-index: -2;
  position: fixed;
  height: 50%;
  top: 10%;
  left: 35%;
  width: auto;
}

label {
  font-family: 'Gilda Display', serif;
  font-size: 26px;
}

@media (max-width: 767px) {
  label {
    font-size: 18px;
  }
}  
