img.footerImage {
  z-index: -3;
  position: fixed;
  bottom: -8%;
  width: 100%;
  height: 100%;
}

.fa-github,
.fa-portrait {
  position: fixed;
  bottom: 3%;
  font-size: 80px;
}

.fa-github:hover,
.fa-portrait:hover {
  font-size: 100px;
  color: rgb(245, 77, 77);
}

.fa-github {
  left: 3%;
}

.fa-portrait {
  right: 3%;
}

@media (max-width: 991px) {
  .fa-github,
  .fa-portrait {
    font-size: 46px;
  }
}

@media (max-width: 767px) {
  .fa-github,
  .fa-portrait {
    font-size: 40px;
  }
}  